#logoprincipal img {
    max-height: 6rem;
    margin-bottom: 2rem;
}

#logo img {
    width: 150px;
}

#loginfondo {
    height: 100vh;
    animation: fondo 25s infinite;
    background-size: cover;
    background-repeat: no-repeat;
}

#imagenVuelo {
    width: 90px;
}

#imagenEvento {
    width: 90px;
}

.xl {font-size: 4rem;}

.login {
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.principal {
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.inline {
    display: inline-block;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.campos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 4rem;
}

.campos fieldset {
    width: 46%;
    /* box-sizing: content-box; */
}

.inline-radio input[type="radio"] {
    margin-right: 5px;
}

.none {
    display: none;
}

#Vuelo:hover {
    background: linear-gradient(to right, white, rgb(1, 134, 123));
    color: black;
}

#Evento:hover {
    background: linear-gradient(to right, white, rgb(1, 163, 69));
    color: black
}

@media (max-width: 768px) {
    .campos fieldset {
        display: flex;
        flex-wrap: wrap;
        /* gap: 2rem; */
        justify-content: space-between;
        width: 100%;
    }
}
